In [1]:
import matplotlib.pyplot as plt

import pandas as pd

In [2]:
dataset = pd.read_csv("./play_tennis.csv")

In [3]:
dataset

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
categorical_cols = ["outlook", "temp", "humidity", "wind"]
for column in categorical_cols:
    dataset[column] = pd.factorize(dataset[column])[0]
dataset

    day  outlook  temp  humidity  wind play
0    D1        0     0         0     0   No
1    D2        0     0         0     1   No
2    D3        1     0         0     0  Yes
3    D4        2     1         0     0  Yes
4    D5        2     2         1     0  Yes
5    D6        2     2         1     1   No
6    D7        1     2         1     1  Yes
7    D8        0     1         0     0   No
8    D9        0     2         1     0  Yes
9   D10        2     1         1     0  Yes
10  D11        0     1         1     1  Yes
11  D12        1     1         0     1  Yes
12  D13        1     0         1     0  Yes
13  D14        2     1         0     1   No

In [5]:
dataset["play"] = dataset["play"].replace("Yes", 1)
dataset["play"] = dataset["play"].replace("No", 0)
target = dataset["play"]
dataset = dataset.drop("play", axis = 1)
dataset = dataset.drop("day", axis = 1)

In [6]:
dataset

    outlook  temp  humidity  wind
0         0     0         0     0
1         0     0         0     1
2         1     0         0     0
3         2     1         0     0
4         2     2         1     0
5         2     2         1     1
6         1     2         1     1
7         0     1         0     0
8         0     2         1     0
9         2     1         1     0
10        0     1         1     1
11        1     1         0     1
12        1     0         1     0
13        2     1         0     1

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset, target, test_size = 0.33, random_state = 42)

### Question 1 Implement Decision Tree

In [41]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
# TODO :: define a sklearn DecisionTreeClassifier and set the max_depth to 3, expect 1 line of code
decision_tree_binary_classifier = DecisionTreeClassifier(max_depth = 3)
# TODO :: fit the classifier your defined earlier, and fit on training data
decision_tree_binary_classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [42]:
import numpy as np
y_pred_train = decision_tree_binary_classifier.predict(X_train)
num_correct = np.sum(y_pred_train == y_train)
print("accuracy on test set : {}".format(num_correct / float(len(y_train))))

accuracy on test set : 1.0

In [43]:
y_pred_test = decision_tree_binary_classifier.predict(X_test)
num_correct = np.sum(y_pred_test == y_test)
print("accuracy on test set : {}".format(num_correct / float(len(y_pred_test))))

accuracy on test set : 0.6

### Question 2 Tune the depth of the tree

Tune the max_depth parameter of DecisionTreeClassifier.  How does the training accuracy and test accuracy change when you vary the value of max_depth?

<font color = "red">Increasing max_depth beyond 3 doesn't change the acccuracy on the training and test accuracy. Changing the max_depth to 2, decreased the training accuracy to 0.88, but increased the test accuracy to 0.8. Changing the max_depth to 1, decreased the training accuracy to 0.77, but the test accuracy stayed the same (compared to max_depth = 3) at 0.6. </font>